
body{
    background-color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin-left: 25%;
    margin-right: 25%;
}
main{
    font-size: 1.1em;

    background-color: rgb(236, 236, 236);
    border: 1px solid gray;
    border-radius: 6px;
}
blockquote{
    border-left: 4px solid orange;
    padding-left: 8px;
}

.header-news{
    display: flex;
    align-content: center;
}
.header-news h2{
    margin: 0;
}
.header-main{
    padding: 15px;
    border-bottom: 1px solid gray;
}
.header-main h1{
    font-size: 48px;
    margin: 0;
}

.header-main img{
    margin-right: 15px;
    height: 75px;
}
.header-main p{
    margin:0;
}
.content{
    background-color: whitesmoke;
    padding: 15px;
    border-bottom: 1px solid gray;
}
.footer{
    padding: 10px;
    text-align: center;
}

.line{
    border-bottom: 1px solid gray;
}
.right{
    float: right;
}

.news{
    margin: 15px 0px;
}
.news img{
    margin: 5px;
}
.news p{
    line-height: 140%;
}
.news h2{
    margin-bottom: 5px;
}
.news a{
    text-decoration: none;
    color: rgb(218, 141, 0);
}
.news a:hover{
    text-decoration: underline;
    color:orange;
}
.news ul{
    margin-top: 5px;
}
.news ul li{
    padding: 5px 0;
}
.news ul li p{
    margin: 5px;
}


.hidden{
    display: none;
}
