body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
    .activity{
        margin: 5px 25%;

        background-color: rgb(252, 252, 252);

        padding: 20px;
    }

    .activity ul.options{
        list-style: none;
    }

    .activity h2, h3{
        margin: 0;
        margin-top: 5px;
        padding: 0;

        border-bottom: 1px solid gainsboro;
    }
    .activity li{
        margin-bottom: 10px;
    }

    .activity-table, .id-activity-table{
        margin: 15px auto;
        margin-bottom: 100px;

        background-color: ghostwhite;
        color: rgb(60, 60, 60);
        border-collapse: collapse;
    
        font-family: "Verdana"; 
    }
    .activity-table td,th{
        text-align: center;

        padding: 5px 15px;
        background-color: rgb(240, 240, 240);
        transition: 0.15s;

        border: 1px solid gainsboro;
        border-radius: 2px;
    }

    .activity-table th{  
        background-color: rgb(230, 230, 230);
        color: rgb(60, 60, 60);
        font-weight: normal;
    }
    .activity-table .header{
        background-color: rgb(225, 225, 225);
        padding: 8px 15px;  
        font-weight: bolder;
    }
    .activity-table .act-0{
        background-color: lightgray;
        color: rgb(64, 64, 64);
    }
    .activity-table .act-1{
        background-color: #ffc7ce;
        color: brown;
    }
    .activity-table .act-2{
        background-color: rgb(255, 235, 156);
        color: rgb(255, 166, 77);
    }
    .activity-table .act-3{
        background-color: #c6efce;
        color: green;
    }
    .activity-table .act-4{
        background-color: #c7e7fd;
        color: blue;
    }
    .activity-table .act-5{
        background-color: #decefe;
        color: purple;
    }

    .activity-table .no-background{
        background-color: #f0f0f0;
    }

    .activity-table td:hover{
        color: black;
        border: 1px solid rgb(128, 128, 128);
        cursor: pointer;
    }
    .activity-table th:hover{
        background-color: rgb(210, 210, 210);
        color: black;
        border: 1px solid rgb(200, 200, 200);
        cursor: default;
    }


    .id-activity-table td,th{
        text-align: center;
        border: 1px solid gainsboro;

        background-color: rgb(250,250,250);
    }
    .id-activity-table th{
        background-color: rgb(240, 240, 240);
    }
    .id-activity-table .year{
        cursor: pointer;
        background-color: rgb(240, 240, 240);
    }
    .id-activity-table .year:hover{
        background-color: rgb(220, 220, 220);
    }
    .id-activity-table .active{
        background-color: rgb(220, 220, 220);
    }

    .id-activity-table .option{
        background-color: rgb(250,250,250);
    }

    .chart{
        width: 1280px;
        height: 720px;
        margin: 5px 10%;
    }