body {
	background: url(bg.jpg);
}
#stage {
	
	position: absolute;
        top: 25%;
        left: 40%;
        
    
	width: 286px;
	height: 212px;
}

canvas {
	cursor: pointer;
	width: 64px;
	height: 64px;
	position: absolute;
	display: block;
	border-radius: 10px;
}
#output
{
	top: 20%;
	text-decoration:none; 
 text-align:center; 
	font-family:  Monotype Corsiva;
	font-size: 35px;
	color: #FF1414;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}

#background
{
   top: 20%;
        left: 37%;
        
width: 386px;
height: 312px;
position: absolute;
;
background-image: url(background.jpg);
}